<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFrame-CV-Default</title>
        <meta charset="UTF-8">

        <!-- Library A-FRAME -->
        <script src="resources/libraryJS/aframe.min.js"></script>
        <script src="resources/libraryJS/aframe-extras.min.js"></script>
        <script src="resources/libraryJS/aframe-animation-component.min.js"></script>
        <script src="resources/libraryJS/aframe-event-set-component.min.js"></script>
        <script src="resources/libraryJS/aframe-environment-component.min.js"></script>
        <!-- End library A-FRAME -->
        
        <script src="resources/libraryJS/html2canvas.min.js"></script>

        <link rel="stylesheet" href="resources/css/style.css" />
        <link rel="stylesheet" href="resources/css/section.css" />
        <link rel="stylesheet" href="resources/css/publication.css" />
        <link rel="stylesheet" href="resources/css/parameters.css" />
        <link rel="stylesheet" href="resources/css/panels.css" />
        <link rel="stylesheet" href="resources/css/defaultTable.css" />
        
        <link href='resources/police/Roboto.css' rel='stylesheet'>

        <script src="resources/scriptJS/scroll.js"></script>
        <script src="resources/scriptJS/persistence.js"></script>
        <script src="resources/scriptJS/height-correction.js"></script>
        <script src="resources/scriptJS/open-double-door.js"></script>
        <script src="resources/scriptJS/button-stats.js"></script>
        <script src="resources/scriptJS/light-toggle.js"></script>
        <script src="resources/scriptJS/go-pdf.js"></script>
        <script src="resources/scriptJS/html2canvas.js"></script>
        <script src="resources/scriptJS/border-position.js"></script>

    </head>
    <body style="margin: 0px;">