<div class="homeStart">
    <div class="titleBar">
        <h2>Welcome</h2>
        <a href="admin"><div id="Connection">Admin connection</div></a>
        <br>
    </div>
    <div id="PCVersion">
        <div class="link2"><a href="index.php?action=viewPCVersion"><div class="link">Computer Version</div></a></div>
    </div>

    <div id="ViveVersion">
        <div class="link2"><a href="index.php?action=viewHTCViveVersion"><div class="link">HTC Vive Version</div></a></div>
    </div>
    
    
    
    
</div>