.changePassword {
    background: #ef2d5e;
    top: 0px;
    right: 0px;
    min-width : 100%;
    min-height : 100%;
    margin : 0px;
    position: absolute;
    font-family: "Roboto";
    color: #111111;
}

.changePassword .titleBar {
    background : #10d2a2;
    margin-top: 10px;
}

.changePassword .title {
    display: inline-block;
    text-align: center;
    width: 90%;
}

.changePassword h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    margin: 5px auto; 
}

.changePassword form {
    width : 200px;
    margin : 20px auto;
}

.changePassword input[type=password] {
    margin : 5px 0px;
    width : 200px;
    border-radius: 0px;
    border: #111111 solid 1px;
    height: 24px;
    background: #aaf3e1;
}

.changePassword input[type=submit] {
    margin : 5px auto;
    width : 100px;
    border: #111111 solid 1px;
    position:relative;
    display: block;
    background: #10d2a2;
}

.changePassword input[type=submit]:hover{
    background: #00c1b1;
}

.changePassword input[type=submit]:active{
    background: #00b0a0;
}

.changePassword .alert {
    background-color: #de1c4d;
    padding: 5px;
    text-align: center;
    width: 600px;
    margin: 0px 0px 0px -200px;
    display: block;
    position: relative;
    color:black;
    font-size: 24px;
}