.defaultTable {
    background: #F4ECE5;
    top: 0px;
    right: 0px;
    min-width : 100%;
    min-height : 100%;
    margin : 0px;
    position: absolute;
    font-family: "Roboto";
    overflow-y: auto;
    color: #178F96;    
    overflow : scroll;
    height: 100%;
    width: 100%;
}

.defaultTable .titleBarDefaultTable {
    background : #178F96;
    position: fixed; 
    width: 99.1%;
}

.defaultTable form {
    text-align: center;
    margin-top: 5%;
    
}

.defaultTable table {
    border-collapse: separate;
    border-spacing: 0px 6px;   
    margin: 15px auto 15px auto;
    width: 10px;
}

.defaultTable td {
    padding: 0px 10px;
    border-left: #333333 dotted 1px;
}

.defaultTable .contentTable {
    background-color: #c8c8c8;
}

.defaultTable .headTable {
    background-color: #178F96;
    color: #111111;
}

.defaultTable .link {
    margin: 3px auto;
    width: 200px;
}

.defaultTable a {
    text-decoration: none;
    color : #111111;
}

.defaultTable a .link-div {
    border: #111111 solid 1px;
    background: #178F96;
    width: 200px;
    height: 24px;
    padding: 2px 0px 0px 0px;
}

.defaultTable a:hover div {
    background: #00c1b1;
}

.defaultTable a:active div {
    background: #00b0a0;
}

.defaultTable .button {
    background-color: #178F96;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: #111111 solid 1px;
    padding: 2px;
}