.homeStart {
    background: #F4ECE5;
    top: 0px;
    right: 0px;
    min-width : 100%;
    min-height : 100%;
    margin : 0px;
    position: absolute;
    font-family: "Roboto";
    color: #178F96;
}

.homeStart h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    margin: 5px auto; 
    display: inline-block;
    text-align: center;
    width: 100%;
    background : #178F96;
    color : #F4ECE5;
}

.homeStart a {
    text-decoration: none;
    color : black;
    font-size: 48px;
    text-align: center;
}

.homeStart .link {
    background: #178F96;
    padding: 20px;
    height: 120px;
}

.homeStart .link2 {
    width: 300px;
    margin: 20px auto;
    height: 120px;
}

.homeStart .link:hover {
    background: #00c1b1;
}

.homeStart .link:active {
    background: #00b0a0;
}

.homeStart #PCVersion {
    width : 50%;
    position: absolute;
    margin-top: 50px;
}

.homeStart #ViveVersion {
    width : 50%;
    margin-left: 50%;
    position: absolute;
    margin-top: 50px;
}

@media (max-width:800px) {
    .homeStart #ViveVersion {
        margin-top: 300px;
        margin-left: 0px;
        width : 100%;
    }
    
    .homeStart #PCVersion {
        width : 100%;
    }
}