.info {
    background: #F4ECE5;
    top: 0px;
    right: 0px;
    min-width : 100%;
    min-height : 100%;
    margin : 0px;
    position: absolute;
    font-family: "Roboto";
    color: #178F96;
}

.info .okButton {
    margin : 5px auto;
    width : 100px;
    border: #111111 solid 1px;
    position:relative;
    display: block;
    background: #178F96;
    color: #111111;
    text-decoration: none;
    text-align: center;
}

.info a:hover{
    background: #00c1b1;
}

.info a:active{
    background: #00b0a0;
}