.insertDefaultData {
    background: #F4ECE5;
    top: 0px;
    right: 0px;
    min-width : 100%;
    min-height : 100%;
    margin : 0px;
    position: absolute;
    font-family: "Roboto";
    color: #178F96;
}

.insertDefaultData .titleBar {
    background : #178F96;
}

.insertDefaultData .title {
    display: inline-block;
    text-align: center;
    width: 90%;
}

.insertDefaultData h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    margin: 5px auto; 
    color : #F4ECE5;
    background: #178F96;
}

.insertDefaultData form {
    text-align: center;
}

.insertDefaultData Table {
    border-collapse: separate;
    border-spacing: 0px 3px;
    margin: 15px auto 15px auto;
    width: 10px;
    padding-right: 105px;
}

.insertDefaultData td {
    padding: 0px 5px;
    text-align: right;
    min-width: 100px;
}

.insertDefaultData input[type="text"] {
    width: 320px;
    border-radius: 0px;
    border: #111111 solid 1px;
    height: 24px;
    background: #178F96;
}

.insertDefaultData textArea {
    width: 320px;
    border-radius: 0px;
    border: #111111 solid 1px;
    background: #178F96;
}

.insertDefaultData .link {
    margin: 3px auto;
    width: 200px;
    text-decoration: none;
    color : #111111;
    border: #111111 solid 1px;
    background: #178F96;
    height: 48px;
    padding: 2px 0px 0px 0px;
    margin-bottom: 40px;
}

.insertDefaultData .link:hover {
    background: #00c1b1;
}

.insertDefaultData .link:active {
    background: #00b0a0;
}

.insertDefaultData .alert {
    background-color: #c8c8c8;
    padding: 5px;
    text-align: center;
    width: 600px;
    margin: 0px auto 0px auto;
    display: block;
    position: relative;
    color:black;
    font-size: 24px;
}