.aframe {
    float: right;
    display: block;
    vertical-align: top;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.parameters {
    width: 20%;
    background: #ef2d5e;
    height: 100%;
    display: block;
    position:absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    overflow-y: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parameters h1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background : #10d2a2;
    margin: 5px;
}

.parameters h3 {
    background-color: #de1c4d;
    padding: 5px;
}

.listParam input {
    display : none;
    position: absolute;
}

.listParam label {
    margin-left: -40px;
    padding: 5px 5px 5px 40px;
}

.radioButton, .checkButton{
    width: 15px;
    height: 15px; 
    border: #10d2a2 solid 5px;
}

.listParam input:hover ~ .radioButton, .listParam input:hover ~ .checkButton { 
    border: #00c1b1 solid 5px;
}

.listParam input:active ~ .radioButton, .listParam input:active ~ .checkButton { 
    border: #00b0a0 solid 5px;
}

.listParam input[type=radio]:checked ~ .inside{
    border: #00b0a0 solid 5px;
    background-color: #00b0a0;
}

.listParam input[type=checkbox]:checked ~ .inside{
    border: #00b0a0 solid 5px;
    background-color: #00b0a0;
}

.radioButton {
    border-radius: 100%;
}

.listParam li div {
    display: inline-block;
    vertical-align: middle;
}

.listParam li .checkButton, .listParam li .radioButton{
    margin-top: auto;
    margin-bottom: auto;
}

.inside{
    width:1px;
    height:1px;
    position:relative;
}

.radioButton ~ .inside {
    border-radius: 100%;
    margin: 0px 13px 0px -23px;
    border: #ef2d5e solid 5px;
    background-color: #ef2d5e;
}

.checkButton ~ .inside {
    margin: 0px 13px 0px -23px;
    border: #ef2d5e solid 5px;
    background-color: #ef2d5e;
}

.listParam li {
    padding: 3px;
}

.parameters ul {
    list-style: none;
}

.parameters .link {
    color: black;
    text-decoration: none;
    padding : 3px;
    background: #10d2a2;
    margin: 5px;
}

.parameters .link:hover {
    background: #00c1b1;
}

.parameters .link:active {
    background: #00b0a0;
}

.links {
    display: block;
    text-align: center;
    margin: 50px auto 5px auto;
    position: relative;
}