.aframe {
    float: right;
    display: block;
    vertical-align: top;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.parameters {
    width: 20%;
    background: #ef2d5e;
    height: 100%;
    display: block;
    position:absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    overflow-y: auto;
}

#parametersContent {
    text-align: center;
}

#parametersContent h1 {
    font-family: Open Sans;
    font-size: 36px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#parametersContent h3 {
	font-family: Open Sans;
	font-size: 28px;
	color: #ffffff;
}

#parametersContent table {
    margin: auto;
    margin-bottom: 20px;
}

#pRadioInput {
    margin-bottom: 50px;
}

#parametersSave, #addData{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    color: #000000;
    font-family: Open Sans;
    font-size: 15px;
    padding: 8px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button-parameter {
    margin: 40px;
}